/* -----------general------------ */
:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-shadow: #c8c8c8;
  --color-accent-heading: #ff008a;
  --color-accent-btn: rgba(255, 0, 138, 0.7);
  --color-accent-link: #ff008a;
  --color-logo-span: #ff0000;
  --color-modal-btn: rgba(0, 0, 0, 0.7);
  --color-modal-label:rgb(111, 111, 111);

  --bg-color-primary: #000000;
  --bg-color-secondary: #ffffff;
  --bg-color-filter: #f5f4fa;
  --bg-color-social-link: #272727;
  --bg-color-benefits-thumb: rgba(0, 0, 0, 0.5);
  --bg-color-product: rgba(255, 0, 138, 0.8);
  --bg-color-backdrop:rgba(0, 0, 0,0.4);

  --font-family-primary: "Inter", sans-serif;
  --font-family-heading: "Roboto", sans-serif;
  --transition-time: 250ms;
  --transition-function: linear;
}

body {
  color: var(--color-primary);
  background-color: var(--bg-color-primary);

  font-family: var(--font-family-primary);
  font-size: 20px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* --------------general classes------------ */
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
  padding: 0;
}
.section {
  padding: 85px 0;
}
.section--large {
  padding: 225px 0 271px;
}
.title {
  color: var(--color-accent-heading);

  font-family: var(--font-family-heading);
  font-size: 36px;
  line-height: 1.17;
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------header------------- */


.container__header{
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  display: block;

  color: var(--color-primary);

  font-family: "Comforter", cursive;
  font-size: 36px;
  line-height: 1.42;
}
.logo--red{
  color: var(--color-logo-span);
}
.nav__logo{
  margin-right: 83px;
}
.nav__list {
  display: flex;
}
.nav__list .nav__item + .nav__item {
  margin-left: 40px;
}

.nav__link,
.contacts__link {
  display: block;
  padding: 30px 0;

  font-family: var(--font-family-heading);
  font-size: 16px;
  line-height: 1.12;

  transition: color var(--transition-time) var(--transition-function);
}
.nav__link {
  color: var(--color-primary);
}


.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 36px;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;

  color: var(--color-shadow);
}

.contacts__icon{
  fill: currentColor;
}

/* -------------hover/focus---------- */

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--color-accent-link);
}


/* ----------hero section------------ */

.hero {
  text-align: center;
}

.hero__overlay {
  max-width: 1440px;
  height: 777px;

  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.62),
      rgba(0, 0, 0, 0.62)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: inset 0px 0px 37px 43px #000000;
}
h1 {
  margin-bottom: 97px;

  font-family: var(--font-family-heading);
  font-size: 96px;
  line-height: 1.17;

  text-shadow: 4px 4px 4px rgba(255, 5, 230, 0.16);
}

.btn {
  color: var(--color-primary);
  background-color: var(--color-accent-btn);

  font-weight: 700;

  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);

  transition: background-color var(--transition-time) var(--transition-function);
}

.hero__btn {
  padding: 19px 24px;

  font-family: var(--font-family-heading);
  font-size: 26px;
  line-height: 1.15;

  border-radius: 10px;

  
}

/* --------hover/focus */
.btn:hover,
.btn:focus {
  background-color: var(--color-accent-link);
}

/* ------------about------------- */

.about__overlay {
  margin: 0 auto;
  max-width: 1440px;
  height: fit-content;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/about-bg.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;

  box-shadow: inset 0px 0px 30px 20px #000000;
}

.about__text {
  width: 570px;
  margin-bottom: 30px;

  line-height: 1.2;
}
.about__text--no-margin-bottom{
  margin-bottom: 0;
}

.about__title {
  width: 370px;
  margin-bottom: 30px;
}

/*----------benefits-------------------  */

.benefits__title {
  margin-bottom: 58px;
  text-align: right;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-set__item {
  background-color: var(--bg-color-secondary);
  border-radius: 4px;

  overflow: hidden;
}

.card-set__item--four-cards{
  flex-basis: calc((100% - 90px) / 4);
}

.card__thumb{
  position: relative;
}

.card__content {
  padding: 25px 25px;

  color: var(--color-secondary);

  line-height: 1.2;
  text-align: center;
}

.benefits__content{
  position: absolute;
  left:0;
  bottom: 0;

  width: 100%;

  background-color: var(--bg-color-benefits-thumb);
  
}

.benefits__text{
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--color-primary);
}

/* ------------goods---------------- */
.goods {
  background-color: var(--bg-color-secondary);

  color: var(--color-secondary);
}

.goods__overlay {
  max-width: 1440px;
  margin: 0 auto;
  height: fit-content;

  background-image: url(../images/goods-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
}
.goods__container {
  display: flex;
  justify-content: flex-end;
}

.goods__content {
  width: calc((100% - 30px) / 2);
  align-self: center;
}
.goods__title {
  color: var(--color-secondary);
  margin-bottom: 25px;
}

.goods__text {
  line-height: 1.2;
  margin-bottom: 30px;
}
.goods__text--no-margin-bottom {
  margin-bottom: 0;
}

/* ------------course----------- */

.course__overlay {
  max-width: 1440px;
  margin: 0 auto;
  height: fit-content;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url(../images/course-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  box-shadow: inset 0px 0px 30px 20px #000000;  
}
.course__title {
  margin-bottom: 37px;

  color: var(--color-primary);
}
.course__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course__content {
  flex-basis: calc((100% - 30px) / 2);
}
.course__sub-title {
  max-width: 400px;
  margin-bottom: 37px;

  font-size: 32px;
  line-height: 1.19;
}
.course__list {
  margin-bottom: 53px;
  padding-left: 18px;
}
.course__list .course__item:not(:last-child) {
  margin-bottom: 30px;
}
.course__item::marker {
  color: var(--color-shadow);
}
.course__text {
  max-width: 334px;

  color: var(--color-shadow);
}

.price__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.price .price__item:not(:last-child) {
  margin-bottom: 35px;
}

.price__item p,
.price__item span,
.course__btn {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
}

.price__item p {
  max-width: 156px;
}
.text-width {
  max-width: 430px;
}

.course__btn {
  font-family: "Inter";
  padding: 15px 28px;
  border-radius: 36px;
}

/* -----------FAQ---------------- */
.faq__title {
  margin-bottom: 55px;

  text-align: center;
}
.faq__list {
  max-width: 835px;
  margin: 0 auto;
}
.faq__item {
  padding: 30px 0;
  border-bottom: 1px solid var(--color-shadow);
}
.faq__list .faq__item:first-child {
  border-top: 1px solid var(--color-shadow);
}
.faq__subtitle {
  position: relative;
  font-family: var(--font-family-heading);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.22;

  cursor: pointer;
}
.faq__subtitle:before,
.faq__subtitle:after{
  content:"";
  position: absolute;
  top: 50%;

  display: block;

  background-color: var(--bg-color-secondary);

  transform: translateY(-50%) rotate(0);
  transition: background-color 350ms var(--transition-function),
  transform 350ms var(--transition-function);
}
.faq__subtitle:before{
  right: 0;
  
  width: 20px;
  height: 2px; 
}
.faq__subtitle.active:before,
.faq__subtitle.active:after{
  background-color: var(--color-accent-link);
  transform: translateY(-50%) rotate(180deg);
}

.faq__subtitle:after{
  right: 9px;

  width: 2px;
  height: 20px;
}
.faq__text {
  display: none;
  color: var(--color-shadow);
  margin-top: 30px;
}

/* --------request--------- */

.request__overlay{
  max-width: 1440px;
  margin: 0 auto;
  height: fit-content;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(../images/request-img-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  box-shadow: inset 0px 0px 30px 20px #000000;

}
.request__title {
  max-width: 407px;
  margin-bottom: 24px;
}
.request__text {
  margin-bottom: 72px;
  max-width: 435px;

  line-height: 1.2;
}

.request__btn {
  padding: 15px 25px;

  font-size: 32px;
  line-height: 1.22;
  text-transform: uppercase;

  border-radius: 36px;
}

/* -----------potfolio------------- */
.portfolio {
  background-color: var(--bg-color-secondary);
}

.filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 55px;
}
.btn__filter {
  padding: 6px 24px;

  background-color: var(--bg-color-filter);
  color: var(--color-secondary);
  border-radius: 4px;
  box-shadow: none;

  transition: color var(--transition-time) var(--transition-function),
  background-color var(--transition-time) var(--transition-function),
  box-shadow var(--transition-time) var(--transition-function);
}
.btn__filter:hover,
.btn__filter:focus {
  color: var(--color-primary);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
}
.card-set__item--three-cards{
  flex-basis: calc((100% - 60px) / 3);
  transition: box-shadow var(--transition-time) var(--transition-function);
}
.card-set__item--three-cards:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product{
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px 30px;
  width: 100%;
  height: 100%;

  background-color: var(--bg-color-product);

  transform: translate(-100%, 0);
  transition: transform var(--transition-time) var(--transition-function);
}
.portfolio .card-set__item:hover  .product{
  transform: translate(0, 0);
}

.portfolio .card-set__content {
  text-align-last: left;

  padding: 15px 30px;
}

.portfolio__subtitle {
  margin-bottom: 10px;

  font-family: var(--font-family-heading);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio__text {
  color: var(--color-shadow);

  font-size: 16px;
  line-height: 1, 88;
  letter-spacing: 0.03em;
}
/* --------------footer------------- */

.footer {
  padding: 46px 0;
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  margin-right: 0;
  margin-bottom: 30px;
}
.address__link {
  font-style: normal;
  padding: 0;

  transition: color var(--transition-time)  var(--transition-function);
}
.address .address__link:not(:last-child) {
  margin-bottom: 30px;
}
.address__link:hover,
.address__link:focus {
  color: var(--color-primary);
}
.footer__title {
  font-family: var(--font-family-primary);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.social {
  display: flex;
  gap: 15px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  background-color: var(--bg-color-social-link);
  border-radius: 50%;

  transition: background-color var(--transition-time) var(--transition-function);
}

.icon {
  fill: var(--color-primary);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--color-accent-link);
}

.form__input {
  display: block;
  width: 300px;
  padding: 10px 10px;
  margin-bottom: 30px;

  color: var(--bg-color-secondary);
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.5);

  border-radius: 4px;

  transition: outline var(--transition-time) var(--transition-function),
  border-color var(--transition-time) var(--transition-function);
}

.form__input:focus {
  border-color: var(--color-primary);
  outline: var(--color-primary);
}
.form__btn {
  padding: 15px 24px;

  font-family: var(--font-family-heading);
  font-size: 16px;
  line-height: 1.19;

  border-radius: 4px;
}

.padding-top {
  padding-top: 15px;
}

/* ------------MODAL------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--bg-color-backdrop);
  transition: opacity var(--transition-time) var(--transition-function);
  opacity: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 520px;
  height: fit-content;
  padding: 40px;

  text-align: center;

  background-color: #ffffff;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-time) var(--transition-function), opacity var(--transition-time) var(--transition-function), visibility var(--transition-time) var(--transition-function);
  opacity: 1;
  visibility: visible;
}

.modal__title{
  margin-bottom: 25px;
  font-size: 18px;

  color: var(--color-secondary);
  text-align: center;
}

.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal{
  transform: translate(-50%, -50%) scale(1.6);
  opacity: 0;

}

.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  padding: 0;

  border: 1px solid var(--color-modal-btn);
  border-radius: 50%;

  background-color: transparent;
  
  transition: border-color var(--transition-time) var(--transition-function);
}

.modal-btn__icon{
  fill: var(--color-modal-btn);
  transition: fill var(--transition-time) var(--transition-function);
}

.modal-btn:hover {
  border-color: var(--color-accent-link);
}
.modal-btn:hover .modal-btn__icon{
  fill: var(--color-accent-link);
}

.modal__list {
  margin-bottom: 25px;
}
.modal__list .modal__item:not(:last-child){
  margin-bottom: 25px;
}
.modal__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__label {
  position: absolute;
  top: 50%;
  left: 40px;

  font-size: 14px;

  color: var(--color-modal-label);

  transform: translate(0, -50%);

  transition: transform var(--transition-time) var(--transition-function);
}
.modal__icon{
  position: absolute;
  top: 50%;
  left: 12px;

  fill: var(--bg-color-primary);

  transform: translate(0, -50%);

  transition: fill var(--transition-time) var(--transition-function);
}
.modal__input {
  align-self: stretch;

  padding: 10px 10px 10px 40px;

  font-size: 18px;
  line-height: 1.5;

  border: 1px solid var(--color-modal-label);
  border-radius: 4px;

  transition: border-color var(--transition-time) var(--transition-function),
  outline var(--transition-time) var(--transition-function);
}
.modal__input:focus{
  border-color: var(--color-accent-link);
  outline: var(--color-accent-link);
  box-shadow: 0 0 6px 0 var(--color-accent-link);
}
.modal__input:focus + .modal__label,
.modal__input:not(:placeholder-shown) + .modal__label{
  transform: translate(-40px, -45px);
}
.modal__input:focus ~ .modal__icon,
.modal__input:not(:placeholder-shown) ~ .modal__icon,
.modal__input:hover ~ .modal__icon {
  fill: var(--color-accent-link);
}


.modal__input--textarea{
  padding: 10px 15px;

  min-height: 120px;

  resize: none;
}
.modal__label--textarea{
  top: 25px;
  left: 40px;
}
.checkbox {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;

  font-size: 14px;

  color: var(--color-secondary);
}

.checkbox__mark{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;

  border: 1px solid var(--color-secondary);
  border-radius: 4px;

  transition: outline var(--transition-time) var(--transition-function), 
  border-color var(--transition-time) var(--transition-function),
  background-color var(--transition-time) var(--transition-function);
}
.checkbox__icon{
  fill: var(--color-primary);
}
.checkbox__input:focus + .checkbox__mark{
  outline: var(--color-accent-link);
  border-color: var(--color-accent-link);
}
.checkbox__input:checked + .checkbox__mark {
  background-color: var(--color-accent-link);
  border-color: var(--color-accent-link);
}

.checkbox__link{
  text-decoration: underline;
  color: var(--color-accent-btn);

  transition: color var(--transition-time) var(--transition-function);
}

.checkbox__link:hover {
  color: var(--color-accent-link);
}

.modal__btn{
  padding: 15px;

  border-radius: 10px;
}


/* ---------------UP-BUTTON-------------- */

.btn-scroll{
  position: fixed;
  right: 30px;
  bottom: 30px;

  display: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;

  background-color: rgb(255, 0, 138, 0.3);

  transition: background-color var(--transition-time) var(--transition-function);
}

.btn-scroll__icon{
  fill: rgba(255, 255, 255, 0.6);
  transition: fill var(--transition-time) var(--transition-function);
}

.btn-scroll:hover {
  background-color: var(--color-accent-link);
}

.btn-scroll:hover .btn-scroll__icon{
  fill: var(--bg-color-secondary);
}

.btn-scroll.show{
  display: flex;
}
