/* -----------general------------ */
:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-shadow: #c8c8c8;
  --color-accent-heading: #ff008a;
  --color-accent-btn: rgba(255, 0, 138, 0.7);
  --color-accent-link: #ff008a;
  --color-logo-span: #ff0000;

  --bg-color-primary: #000000;

  --font-family-primary: "Inter", sans-serif;
  --font-family-heading: "Roboto", sans-serif;
}

body {
  color: var(--color-primary);

  font-family: var(--font-family-primary);
  font-size: 20px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
}

/* --------------general classes------------ */
.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.list {
  list-style: none;
  padding: 0;
}
.section {
  padding: 85px 0;
}
.section-large {
  padding: 225px 0 271px;
}
/* -------------header------------- */
.header {
  background-color: var(--bg-color-primary);
}
.header-flex {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 83px;

  color: var(--color-primary);

  font-family: "Comforter", cursive;
  font-size: 36px;
  line-height: 1.42;
}
.logo span {
  color: var(--color-logo-span);
}
.nav__list {
  display: flex;
}
.nav__list .nav__item + .nav__item {
  margin-left: 40px;
}

.nav__link,
.contacts__link {
  display: block;
  padding: 30px 0;

  font-family: var(--font-family-heading);
  font-size: 16px;
  line-height: 1.12;
}
.nav__link {
  color: var(--color-primary);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 36px;
}

.contacts__link {
  color: var(--color-shadow);
}

/* -------------hover/focus---------- */

.nav__link:hover,
.nav__link:focus,
.contacts__link:hover,
.contacts__link:focus {
  color: var(--color-accent-link);
}

/* ----------hero section------------ */

.hero {
  background-color: var(--bg-color-primary);
    background-image: url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  text-align: center;
}
h1 {
  margin-bottom: 97px;

  font-family: var(--font-family-heading);
  font-size: 96px;
  line-height: 1.17;

  text-shadow: 4px 4px 4px rgba(255, 5, 230, 0.16);
}

.btn {
  color: var(--color-primary);
  background-color: var(--color-accent-btn);

  font-family: var(--font-family-heading);
  font-weight: 700;

  border: 1px solid transparent;
}

.hero__btn {
    padding: 19px 24px;

    font-size: 26px;
    line-height: 1.15;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    border-radius: 10px;
}

/* --------hover/focus */
.btn:hover,
.btn :focus{
    background-color: var(--color-accent-link);
}